<section class="user-space w-100 bg-body-secondary py-3">
  <h2 class="display-3 px-5 mb-5"><span class="text-primary">{{currentUser?.username | uppercase}}'s space</span></h2>
  <div class="create-new-post px-5 d-flex flex-column align-items-center">
    <h3 class="text-white my-4 px-3 py-1 bg-primary" style="width: fit-content;">Create a new post</h3>
    <div class="add-post w-100" routerLink="create-post"><i class="bi bi-plus-circle-fill fs-3"></i></div>
    <router-outlet></router-outlet>
  </div>
  <div class="my-posts px-5 d-flex flex-column align-items-center">
    <h3 class="text-white my-4 px-3 py-1 bg-primary" style="width: fit-content;">Your Posts</h3>
    <div class="loader d-flex justify-content-center gap-3 my-3" *ngIf="!dataLoaded && !conexionFailed">
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="no-conexion bg-dark-subtle rounded p-4" *ngIf="conexionFailed">
      <p class="text-secondary m-0 text-center fs-2">Parece que no hay conexión con el servidor</p>
      <p class="text-secondary m-0 text-center"><i class="fs-1 bi bi-wifi-off"></i></p>
    </div>
    <div class="no-posts" *ngIf="userPosts?.length == 0">
      <p class="fs-1 text-center text-dark-emphasis bg-info-subtle border-info rounded p-2">There is nothing here. Create a post!</p>
    </div>
    <div class="posts w-100 d-flex flex-column gap-3" *ngIf="dataLoaded">
      <div class="post bg-secondary-subtle p-2 rounded" *ngFor="let post of userPosts">
        <h4>{{post?.title}}</h4>
        <p class="text-dark-emphasis">{{post?.body}}</p>
        <p class="text-dark-emphasis">Posted on {{post?.date}}</p>
        <img *ngIf="post?.image" class="img-fluid shadow rounded mb-3" [src]="post?.image" width="600">
        <div class="users-comments px-3 py-4">
          <h5>Comments</h5>
          <div class="no-comments" *ngIf="post?.postComments?.length == 0">
            <p class="text-muted bg-info-subtle rounded px-3 py-2 my-3" style="width: fit-content;">Nobody commented.</p>
          </div>
          <div class="cometary bg-warning-subtle rounded px-3 py-2 my-3" *ngFor="let comment of post?.postComments">
            <h6 class="text-dark-emphasis text-decoration-underline">{{comment?.username}}</h6>
            <p class="text-dark-emphasis">{{comment?.text}}</p>
          </div>
        </div>
        <button class="btn btn-outline-danger" (click)="deletePost(post?.id)"><i class="bi bi-trash3-fill"></i></button>
      </div>
    </div>
  </div>
</section>
